* {
	box-sizing: border-box; 
	font-family: 'Josefin Sans', sans-serif;
}
body {
	margin: 0; 
	font-weight: 500;
	font-family: 'HelveticaNeue';
}
section {
	width: 100%;
	max-width: none;
	height: 70%;
}

li img{
	height: 40px;
}
footer {
	bottom: 0;
	text-align: center;
	width: 100%;
}
ul li{
	display: inline;
}
body, html {
	margin:0;
	height: 100%;
	text-align: center;
}
section {
	background-color: #546e7a;
}
#inicio{
	background-image: url(../img/home.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100%;
}
h3{
	margin: 0px;
	padding: 0px;
}
nav{
	background-color: #263238;
}
.texto{
	position: absolute;
	text-align: center;
    top: 50%;
    left: 50%;
    width: 45em;
    height: 20em;
    margin-top: -10em;
    margin-left: -22.5em; 
    color: white;
    background-color: rgba(1,1,1,0.5);
}
.inner-texto{
	position: absolute;
	text-align: center;
    top: 50%;
    left: 50%;
    width: 20em;
    height: 10em;
    margin-top: -5em;
    margin-left: -10em;
}

.projetos{
	height: auto;
}
.row{
	margin-bottom: 0px;
}

#habilidades{

}
ol{
	list-style-type: disc;
}
li{
	list-style-position: inside;
}

section div.container{
	text-align: left;
}